<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nl-onatrixmessageprovider.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/93c0ea5f-b530-468a-bfde-62fbc2bd52a2/resourceGroups/NL-OnatrixResourceGroup/providers/Microsoft.Web/sites/NL-OnatrixMessageProvider</ResourceId>
    <UserName>$NL-OnatrixMessageProvider</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://nl-onatrixmessageprovider.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>